---
---

@import "{{ site.theme }}";
.center {
  margin: auto;
  width: 100%;
  border: 3px solid #73AD21;
  padding: 10px;
}

.row {
  margin: auto;
  width: 100%;
  border: 3px solid #73AD21;
}
.column {
  margin-left: auto;
  margin-right: auto;
  float: left;
  width: 33.33%;
  padding: 5px;
}
/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
